* {
    margin: 0;
    padding: 0;
    outline: 0;
    color: #000;
    line-height: 1.5;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

@mixin flexCenter($align_items, $justify_content, $flex_direction) {
    display: flex;
    align-items: $align_items;
    justify-content: $justify_content;
    flex-direction: $flex_direction;
}

@import '../components/Home/home';
@import '../components/Card/cards';
@import '../components/Footer/footer';
@import '../components/Header/header';
@import '../components/NewsLetter/newsLetter';